* {
    margin: 0;
}


header {
    background-color: rgb(24, 23, 23);
    padding: 10px;

    nav {
        float: right;

        ul {
            list-style: none;

            li {
                display: inline-block;
                font-family: Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                margin: 19px;

                a {
                    color: white;
                    text-decoration: none;
                    transition: 0.3s;
                }

                a:hover {
                    color: red;
                }

                .btn {
                    background-color: red;
                    padding: 10px;
                    border-radius: 5px;
                }

                .btn:hover {
                    background-color: rgb(214, 7, 7);
                    color: white;
                }
            }
        }
    }
}

body {
    background-color: #090f1b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgb(12, 12, 12);
    padding: 20px;

    p {
        text-align: center;
    }
}

main {
    width: 1000px;
    margin: auto;

    .tabela {
        align-items: center;
        display: grid;
        grid-template-columns: 50% 50%;

        .coluna {
            img {
                width: 100%;
            }
        }

        .btn {
            background-color: orange;
            color: #090f1b;
            padding: 10px;
            border-radius: 5px;
            text-decoration: none;
        }

        .btn:hover {
            background-color: rgb(187, 123, 4);
            color: #090f1b;
            transition: 0.5s;
        }

        p,
        h1 {
            margin: 30px;
        }

        h1 {
            font-size: 42px;
        }
    }

    #sobre {
        h2 {
            text-transform: uppercase;
            text-align: center;
            margin: 30px;
        }

        .image {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgb(103, 103, 189);
        }

        p {
            margin: 30px;
        }
    }

    #planos {
        h2 {
            text-transform: uppercase;
            margin: 30px;
            text-align: center;
        }

        .grid-3 {
            display: grid;
            grid-template-columns: repeat(3, 33.33%);

            .col {
                box-shadow: 0px 0px 10px rgb(103, 103, 189);
                margin: 10px;
                text-align: center;
                border: 1px solid rgb(103, 103, 189);
                border-radius: 10px;
                padding: 20px;

                h3 {
                    text-transform: uppercase;
                    color: orange;
                    font-size: 18px;
                }

                hr {
                    margin: 20px;
                    border: 1px dashed #ccc;
                }

                .valor {
                    color: red;
                    font-size: 20px;
                    strong {
                        font-size: 32px;
                    }
                }
                li {
                    text-align: left;
                }
                .btn {
                    background-color: rgb(92, 92, 239);
                    color: white;
                    text-decoration: none;
                    padding: 12px 25px;
                    border-radius: 10px;
                }
                .btn:hover {
                    background-color: rgb(65, 65, 245);
                    color: white;
                    transition: 0.5s;
                    border:white solid 1px;
                }
            }
        }
    }
    #depoimentos {
        h2 {
            text-transform: uppercase;
            margin: 30px;
            text-align: center;
        }
        .grid-3 {
            display: grid;
            grid-template-columns: repeat(3, 33.33%);

            .col {
                box-shadow: 0px 0px 10px rgb(103, 103, 189);
                margin: 10px;
                text-align: center;
                border: 1px solid rgb(103, 103, 189);
                border-radius: 10px;
                padding: 20px;

                p {
                    margin: 15px;
                    color: #CCC;
                    font-size: large;
                }
            }
        }
    }
    
    #contato {
        h2 {
            text-align: center;
            text-transform: uppercase;
        }
        a {
            color: white;
        }
        p {
            margin: 20px;
            color: #CCC;
            font-size: large;
        }
        iframe {
            box-shadow: 0px 0px 10px rgb(103, 103, 189);
            border: 1px solid rgb(103, 103, 189);
            border-radius: 10px;
            padding: 10px;
            width: 100%;
        }
    }
}
section {
    padding: 30px;
}
header {
    position: fixed;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}
